body {
    font-family: 'Cabin', sans-serif;
}


/* Navigation Bar         /////////////////////////*/
#nav-container {
    padding: 1%;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}

.nav-link {
    margin: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Title-Headline      ////////////////////////////////*/
.headline-section {
    background-color:#f8f9fa ;
    padding: 7%;

}

#headline {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
}

.title-image {
    width: 60%;
    transform: rotate(7deg);
    margin-left: 22%;
    position: absolute;
}

.headline-text {
    margin-top: 5%;
}

/* Download Buttons /////////////////////////////////*/
#btn-headline {
    margin: 5% 5% 5% 0;
}

/* Features Section     //////////////////////////*/
#features {
    background-color: white ;
    text-align: center;
    padding: 3% 10%;
    position: relative;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
}

.fa-check-circle, .fa-star, .fa-award {
    font-size: 4rem;
    color:#5cb85c;
    margin: 15px;
}

.feature-box {
    padding: 5%;
}

/* Testimonials Section     ///////////////////////*/
#testimonials {
    text-align: center;
    background-color: #6c757d;
    color: white;
}

.carousel-item {
    padding: 7% 10%;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section        ///////////////////////////*/
#press {
    text-align: center;
    background-color: #6c757d;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section     ///////////////////////////*/

#pricing {
    text-align: center;
    padding: 7% 10%;
}

.pricing-p {
    margin-bottom: 5%;
}

.card-col {
    padding: 10px;
}

.card {
    margin: 3%;
}

/* CALL TO ACTION SECTION    //////////////////////*/

#cta {
    background-color: #f8f9fa ;
    text-align: center;
    padding: 5%;
}

#cta-text {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 7% 7% 0 7%;
}

.btn-cta {
    margin: 3%;
    margin-bottom: 7%;
}



/*Footer      /////////////////////////////////////////*/
#footer {
    padding: 7%;
    color: white;
    text-align: center;
    background-color: #343a40 ;
}

.footer-icon {
    margin: 1%;
    font-size: 2rem;
    cursor: pointer;
}



@media (max-width: 1028px) {
    #headline, .headline-text {
        text-align: center;
    }

    #btn-headline {
        
        margin: 5%;
    }

    .title-image {

       width: 45%;
       transform: rotate(0deg);
       position: static;
       margin-left: 30%;
    }
}

.footer-icon {
    font-size: 1rem;
}